/* Global */

* {
  box-sizing: border-box;
}
:root {
  --regular: Stapel-regular;
  --medium: Stapel-medium;
  --bold: Stapel-bold;
}

/* Header */
.header {
  padding: 27px 50px 51px 50px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
}
.header__top {
  display: flex;
  justify-content: space-between;
}
.header__top_mobile {
  display: none;
}
.header__top_left {
  display: flex;
  align-items: center;
}
.header__top_right {
  display: flex;
  align-items: center;
}
.header__top-logo {
  margin-right: 34px;
}
.header__menu {
  display: flex;
  gap: 30px;
}
.header__menu-link {
  font-family: var(--medium);
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.header__phone {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 23px;
}
.header__phone-icon {
}
.header__top-icon {
}
.header__phone-txt {
}
.header__top-txt {
  font-family: var(--medium);
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.header__mail {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 41px;
}
.header__mail-icon {
}
.header__mail-txt {
}
.header__lang {
  display: flex;
  gap: 5px;
  align-items: center;
}
.header__lang-icon {
}
.header__lang-txt {
}
.header__middle {
  margin-top: 229px;
  margin-left: 9px;
}
.header__middle-title {
  font-family: var(--medium);
  font-size: 60px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
  max-width: 900px;
}
.header__middle-txt {
  font-family: var(--regular);
  font-size: 18px;
  line-height: 160%;
  color: #d2d2d2;
  margin-bottom: 59px;
  max-width: 700px;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 11px;
}
.header__bottom-btn {
  border-radius: 2px;
  width: 179px;
  height: 50px;
  background: #0e9e2f;
  font-family: var(--medium);
  font-size: 14px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}
.header__bottom-whatsapp {
  margin-top: 13px;
  cursor: pointer;
}

/* Burger menu */
.burger__open {
  cursor: pointer;
}
.burger__open-line {
  margin-bottom: 5px;
  border: 2px solid #0e9e2f;
  width: 33px;
  height: 0px;
}
.burger__open-line:last-child {
  margin-bottom: 0;
}
.burger__start {
  display: none;
}
.burger__menu {
  width: 100%;
  height: 382px;
  position: absolute;
  top: 70px;
  left: -100%;
  background: #313131;
  text-align: center;
}
.burger__menu-open {
  left: 0;
  top: 0;
  position: relative;
  animation: burgerOpenX 0.5s linear;
}
.burger__menu-close {
  left: -100%;
  position: absolute;
  animation: burgerCloseX 0.5s linear;
}
.burger__nav {
  padding-top: 43px;
  padding-bottom: 9px;
}
.burger__nav-link {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--medium);
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 23px;
}
.burger__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.burger__info-txt {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--medium);
  font-size: 16px;
  line-height: 150%;
  color: #0e9e2f;
}
.burger__close {
  cursor: pointer;
}
@keyframes burgerOpenX {
  0% {
    left: -100%;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}
@keyframes burgerCloseX {
  0% {
    left: 0px;
  }
  50% {
    left: -50%;
  }
  100% {
    left: -100%;
  }
}

@media screen and (max-width: 1350px) {
  .header__top {
    flex-direction: column-reverse;
    align-items: center;
    gap: 25px;
  }
}
@media screen and (max-width: 800px) {
  .header {
    padding: 27px 20px 51px 20px;
  }
  .header__menu {
    gap: 20px;
  }
  .header__top {
    flex-direction: column;
  }
  .header__top_left {
    flex-direction: column;
    gap: 25px;
  }
  .header__middle-title {
    font-size: 34px;
    max-width: 450px;
  }
  .header__middle-txt {
    font-size: 16px;
    max-width: 450px;
  }
  .header__middle {
    margin-top: 148px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 0px;
    background-image: url(../img/header-bg-mobile.jpg);
  }
  .header__top {
    display: none;
  }
  .header__top_mobile {
    display: flex;
    justify-content: space-between;
    background: #313131;
    opacity: 0.9;
    padding: 25px 24px 21px 20px;
  }
  .header__middle {
    margin-left: 39px;
  }
  .header__middle-title {
    font-size: 28px;
    line-height: 120%;
    margin-bottom: 29px;
  }
  .header__middle-txt {
    font-size: 16px;
    max-width: 290px;
    margin-bottom: 0;
  }
  .header__bottom {
    justify-content: flex-start;
    flex-direction: column;
    gap: 69px;
    max-width: 330px;
    margin: 0 auto;
    margin-top: 49px;
    align-items: end;
    padding-bottom: 33px;
  }
  .header__bottom-btn {
    width: 300px;
    margin: 0 auto;
  }
  .header__bottom-whatsapp img {
    width: 49px;
    height: 49px;
  }
}

/* Продукция завода */
.product {
  background: #686868;
  padding-top: 96px;
  padding-bottom: 132px;
  position: relative;
  overflow: hidden;
}
.product .swiper {
  display: none;
}
.product__container {
  max-width: 1160px;
  margin: 0 auto;
}
.product-absolut {
  position: absolute;
  top: -549px;
  right: -230px;
  z-index: 1;
}
.product-title {
  font-family: var(--bold);
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 26px;
}
.product-subtitle {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 160%;
  color: #d2d2d2;
  max-width: 486px;
  margin-bottom: 48px;
}
.product__body {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 40px;
}
.product__item {
  background-image: url(../img/product-item-bg.png);
  padding-left: 29px;
  padding-bottom: 35px;
  background-repeat: no-repeat;
  max-width: 360px;
  height: 413px;
}
.product__item-inner {
  display: flex;
  justify-content: center;
}
.product__item-img {
  margin-bottom: 13px;
  margin-top: 13px;
}
.product__item:nth-child(3) .product__item-img {
  margin-bottom: 16px;
  margin-top: 16px;
}
.product__item:nth-child(4) .product__item-img {
  margin-bottom: 19px;
  margin-top: 19px;
}
.product__item:nth-child(5) .product__item-img {
  margin-bottom: 23px;
  margin-top: 23px;
}
.product__item:nth-child(6) .product__item-img {
  margin-bottom: 18px;
  margin-top: 36px;
}
.product__item:nth-child(7) .product__item-img {
  margin-bottom: 14px;
  margin-top: 30px;
}
.product__item:nth-child(8) .product__item-img {
  margin-bottom: 19px;
  margin-top: 27px;
}
.product__item-name {
  font-family: var(--regular);
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 11px;
}
.product__item:nth-child(3) .product__item-name {
  font-size: 22px;
}
.product__item-txt {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 160%;
  color: #d2d2d2;
  margin-bottom: 41px;
  margin-right: 35px;
}
.product__item-txt_big {
  margin-bottom: 13px;
}
.product__item-btn {
  border-radius: 2px;
  width: 200px;
  height: 46px;
  background: #0e9e2f;
  font-family: var(--medium);
  font-size: 14px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Product slider */
.product .swiper {
  width: 360px;
  height: 538px;
  padding-top: 125px;
}
.product .swiper-button-prev, .product .swiper-button-next {
  width: 54px;
  height: 54px;
  margin-top: -254px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product .swiper-button-prev {
  border: 1px solid #fff;
  margin-left: 200px;
}
.product .swiper-button-next {
  background-image: url(../img/product-swiper-border-right.svg);
  margin-right: 21px;
}
.product .swiper-button-prev::after {
  content: none;
}
.product .swiper-button-next::after {
  content: none;
}
.product .swiper-slide:nth-child(3) .product__item-name {
  font-size: 22px;
}

@media screen and (max-width: 1200px) {
  .product__body {
    grid-template-columns: repeat(2, 360px);
    justify-content: center;
  }
  .product__container {
    max-width: 760px;
  }
}
@media screen and (max-width: 800px) {
  .product__body {
    display: none;
  }
  .product .swiper {
    display: block;
  }
  .product-title {
    font-size: 36px;
    margin-left: 38px;
  }
  .product-subtitle {
    font-size: 16px;
    margin-right: 38px;
    margin-left: 38px;
  }
}
@media screen and (max-width: 500px) {
  .product {
    padding-top: 102px;
    padding-bottom: 124px;
  }
  .product-absolut {
    top: -485px;
    right: -467px;
  }
  .product-title {
    font-size: 28px;
    max-width: 300px;
    margin-bottom: 17px;
  }
  .product-subtitle {
    font-size: 15px;
    max-width: 300px;
    margin-bottom: 4px;
  }
}

/* Основная деятельность */
.job {
  background-color: #fff;
  padding-top: 135px;
}
.job__container {
  max-width: 1160px;
  margin: 0 auto;
}
.job__container_mobile {
  display: none;
}
.job-title {
  font-family: var(--bold);
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #494b44;
  margin-bottom: 74px;
}
.job__box {
  display: grid;
  grid-template-columns: 361px 361px 361px;
  grid-template-rows: 384px 186px;
  column-gap: 39px;
  row-gap: 30px;
  margin-bottom: 134.5px;
}
.job__box_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.job__box_content-name {
  font-family: var(--medium);
  font-size: 30px;
  line-height: 140%;
  text-transform: uppercase;
  color: #0e9e2f;
  margin-bottom: 35px;
}
.job__box_content-txt {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 160%;
  color: #92938f;
}
.job__box_big {
  grid-column-start: 2;
  grid-column-end: 4;
}
.job__box_small {
}

@media screen and (max-width: 1200px) {
  .job__box {
    grid-template-columns: 361px 361px;
    grid-template-rows: 220px 186px 186px;
    margin-bottom: 70px;
    justify-content: center;
  }
  .job__box_big {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 361px;
    height: 186px;
  }
  .job__box_content {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .job__container {
    display: none;
  }
  .job__container_mobile {
    display: block;
    max-width: 300px;
    margin: 0 auto;
  }
  .job {
    padding-top: 75px;
  }
  .job__box {
    display: block;
    margin-bottom: 80px;
  }
  .job-title {
    font-size: 28px;
    margin-bottom: 45px;
  }
  .job__btn {
    border-radius: 2px 0 0 2px;
    width: 300px;
    height: 50px;
    background: #0e9e2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 10px;
    margin-bottom: 50px;
    cursor: pointer;
  }
  .job__btn-txt {
    font-family: var(--medium);
    font-size: 16px;
    color: #fff;
  }
  .job__btn-arrow {
  }
  .job__box_small {
    width: 300px;
    height: 148px;
    margin-bottom: 17px;
  }
  .job__box_content-name {
    font-family: var(--medium);
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: #494b44;
    margin-bottom: 13px;
    margin-top: 5px;
  }
  .job__box_content-txt {
    font-family: var(--regular);
    font-size: 15px;
    line-height: 160%;
    color: #92938f;
    margin-bottom: 0;
  }
  .job__select {
    border-radius: 2px 0 0 2px;
    background: #0e9e2f;
    padding: 15px 0 10px 12px;
    margin-bottom: 20px;
    margin-top: -49px;
  }
  .job__select-link {
    font-family: var(--medium);
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .job__box_close {
    display: none;
  }
  .job__select_close {
    display: none;
  }
}

/* Стабильные поставки за счет собственной лесозаготовки */
.delivery {
  padding-bottom: 83px;
}
.delivery__box {
  width: 1160px;
  margin: 0 auto;
  border-radius: 5px;
  background-image: url(../img/delivery-bg.jpg);
  background-repeat: no-repeat;
  display: flex;
  gap: 61px;
}
.delivery__left {
  margin-top: 86px;
  margin-left: 101px;
}
.delivery__left-title {
  font-family: var(--bold);
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 42px;
  max-width: 438px;
}
.delivery__left-link_inner {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 58px;
}
.delivery__left-link {
  text-decoration: none;
}
.delivery__left-link_icon {
  cursor: pointer;
}
.delivery__left-link_name {
  font-family: var(--medium);
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: #0e9e2f;
  cursor: pointer;
}
.delivery__left-txt {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 160%;
  color: #d2d2d2;
  margin-bottom: 85px;
  max-width: 297px;
}
.delivery__right {
  width: 500px;
  background-image: url(../img/delivery-green.svg);
  background-repeat: no-repeat;
  margin-top: 59px;
  padding: 48px 34px 51px 45px;
}
.delivery__item {
  margin-bottom: 50px;
}
.delivery__item-title {
  font-family: var(--medium);
  font-size: 24px;
  line-height: 160%;
  color: #fff;
  margin-bottom: 14px;
}
.delivery__item-txt {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 160%;
  color: #f2f2f2;
}
@media screen and (max-width: 1200px) {
  .delivery__box {
    flex-direction: column;
    width: 800px;
    gap: 30px;
    background-size: contain;
  }
  .delivery__left {
    max-width: 800px;
    margin-left: 80px;
    margin-top: 50px;
  }
  .delivery__left-title {
    max-width: 700px;
    font-size: 32px;
  }
  .delivery__left-link_inner {
    max-width: 800px;
  }
  .delivery__left-txt {
    max-width: 700px;
    margin-bottom: 0;
  }
  .delivery__right {
    width: 800px;
    margin-top: 0;
    background-image: none;
    background-color: #0E9E2F;
    padding: 48px 34px 30px 45px;
  }
  .delivery__item {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 800px) {
  .delivery {
    padding-bottom: 80px;
  }
  .delivery__box {
    width: 375px;
    border-radius: 0px;
    gap: 40px;
    flex-direction: column;
    background-image: url(../img/delivery-bg-mobile.jpg);
  }
  .delivery__left {
    margin-top: 80px;
    margin-left: 38px;
  }
  .delivery__left-title {
    font-family: var(--medium);
    font-size: 28px;
    margin-bottom: 36px;
  }
  .delivery__left-link_inner {
    margin-bottom: 36px;
  }
  .delivery__left-txt {
    margin-bottom: 0px;
    max-width: 300px;
  }
  .delivery__right {
    width: 100%;
    background-image: url(../img/delivery-green-mobile.svg);
    background-color: rgba(0, 0, 0, 0);
    padding: 60px 58px 80px 55px;
  }
  .delivery__item {
    margin-bottom: 33px;
  }
  .delivery__item-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .delivery__item-txt {
    font-size: 15px;
  }
}

/* География поставок */
.map {
  padding-bottom: 84px;
}
.map__container {
  max-width: 1170px;
  margin: 0 auto;
}
.map__top {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  margin-bottom: 15px;
}
.map__top-title {
  font-family: var(--bold);
  font-size: 40px;
  line-height: 150%;
  text-transform: uppercase;
  color: #494b44;
  margin-top: 5px;
}
.map__inner {
  display: flex;
  gap: 20px;
  align-items: center;
}
.map__inner-txt {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 160%;
  color: #92938f;
  max-width: 250px;
}
.map__icon {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.map__item {
  display: flex;
  gap: 2px;
  align-items: end;
}
.map__item-line {
}
.map__item-icon {
}
.map__item-line_mobile {
  display: none;
}
.map__item-icon_mobile {
  display: none;
}
.map-icon {
}

@media screen and (max-width: 1200px) {
  .map__top {
    padding-left: 16px;
    gap: 15px;
  }
  .map-icon {
    width: 800px;
    margin: 0 auto;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .map {
    padding-bottom: 484px;
  }
  .map__top {
    padding-right: 0px;
    flex-direction: column;
    align-items: center;
    margin-top: -38px;
    gap: 12px;
  }
  .map__container {
    position: relative;
  }
  .map__item-line {
    display: none;
  }
  .map__item-icon {
    display: none;
  }
  .map__item-line_mobile {
    display: block;
  }
  .map__item-icon_mobile {
    display: block;
  }
  .map__icon {
    gap: 10px;
  }
  .map__item {
    gap: 0px;
  }
  .map__inner {
    gap: 2px;
    align-items: start;
  }
  .map__top-title {
    font-size: 28px;
  }
  .map__inner-txt {
    font-size: 15px;
    max-width: 170px;
    padding-top: 5px;
  }
  .map-icon {
    width: 700px;
    position: absolute;
    top: 195px;
    right: 0;
  }
}
@media screen and (max-width: 450px) {
  .map__top {
    padding-left: 38px;
    align-items: start;
  }
  .map {
    padding-bottom: 465px;
  }
}

/* Сотрудничество */
.cooperation {
  padding-top: 89px;
  padding-bottom: 70px;
  margin-top: -5px;
  background-image: url(../img/cooperation-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.cooperation-title {
  font-family: var(--bold);
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}
.cooperation-subtitle {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #fff;
  max-width: 450px;
  margin: 0 auto 42px;
}
.cooperation-btn {
  border-radius: 2px;
  width: 179px;
  height: 50px;
  background: #0e9e2f;
  font-family: var(--medium);
  font-size: 14px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .cooperation {
    display: none;
  }
}

/* Актуальные вакансии */
.vacancy {
  padding-top: 136px;
}
.vacancy__container {
}
.vacancy__line-mobile {
  display: none;
}
.vacancy__swiper {
  width: 100%;
  height: 100%;
}
.vacancy__top {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 22px;
}
.vacancy .swiper-button-next:after, .vacancy .swiper-button-prev:after {
  content: none;
}
.vacancy .swiper-button-next, .vacancy .swiper-button-prev {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 54px;
  height: 54px;
  cursor: pointer;
  position: static;
  margin-top: 0;
}
.vacancy .swiper-button-next {
  background-image: url(../img/vacancy-right.png);
}
.vacancy .swiper-button-prev {
  background-image: url(../img/vacancy-left.png);
}
.vacancy__top-title {
  font-family: var(--bold);
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #494b44;
  padding-top: 5px;
}
.vacancy__nav {
  display: flex;
  gap: 11px;
}
.vacancy__line {
  border: 0.50px solid #494b44;
  max-width: 1160px;
  height: 0px;
  opacity: 0.4;
  margin: 0 auto;
  margin-bottom: 52px;
}
.swiper-wrapper {
  
}
.vacancy .swiper-slide {
  width: 360px;
  background: #f6f6f7;
  padding-left: 17px;
  padding-right: 16px;
}
.vacancy .swiper-slide-name {
  font-family: var(--regular);
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  color: #494b44;
  padding-top: 40px;
  margin-bottom: 13px;
}
.vacancy .swiper-slide-line {
  border: 0.50px solid #494b44;
  max-width: 327px;
  opacity: 0.3;
  margin-bottom: 18px;
}
.vacancy .swiper-slide-price {
  font-family: var(--regular);
  font-size: 20px;
  line-height: 140%;
  color: #0e9e2f;
  margin-bottom: 16px;
}
.vacancy .swiper-slide-txt {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 140%;
  color: #92938f;
  margin-bottom: 52px;
}
.vacancy .swiper-slide-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.vacancy .swiper-slide-btn-link {
  font-family: var(--medium);
  font-size: 20px;
  line-height: 140%;
  color: #0e9e2f;
  cursor: pointer;
  text-decoration: none;
}
.vacancy .swiper-slide-btn-icon {
  width: 28px;
  height: 11px;
  cursor: pointer;
  margin-top: 18px;
}

@media screen and (max-width: 1200px) {
  .vacancy__top {
    margin-left: 20px;
    margin-right: 20px;
  }
  .vacancy__line {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media screen and (max-width: 800px) {
  .vacancy__top-title {
    font-size: 28px;
    max-width: 221px;
  }
  .vacancy__top {
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .vacancy {
    padding-top: 0px;
  }
  .vacancy__line-mobile {
    display: block;
    border: 0.50px solid #494b44;
    width: 360px;
    opacity: 0.4;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .vacancy__top-title {
    padding-top: 5px;
    padding-left: 37px;
    margin-bottom: 50px;
  }
  .vacancy__nav {
    display: none;
  }
  .vacancy__line {
    display: none;
  }
}

/* Новости */
.news {
  padding-top: 135px;
  padding-bottom: 137px;
}
.newsm {
  display: none;
}
.news__container {
  max-width: 1160px;
  margin: 0 auto;
}
.news__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}
.news__top-title {
  font-family: var(--bold);
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #494b44;
}
.news__btn {
  display: flex;
  gap: 22px;
}
.news__btn-icon {
  width: 28px;
  height: 11px;
  margin-top: 17px;
}
.news__btn-link {
  font-family: var(--regular);
  font-size: 24px;
  line-height: 140%;
  color: #0e9e2f;
  cursor: pointer;
  text-decoration: none;
  padding-top: 3px;
}
.news__body {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 40px;
}
.news__item {
}
.news__item-img {
  width: 360px;
  height: 226px;
  margin-bottom: 18px;
}
.news__item-name {
  font-family: var(--regular);
  font-size: 24px;
  line-height: 140%;
  color: #494b44;
  margin-bottom: 10px;
}
.news__item-txt {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 140%;
  color: #92938f;
  margin-bottom: 15px;
}
.news__item-date {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 140%;
  color: #0e9e2f;
  opacity: 0.9;
}

@media screen and (max-width: 1200px) {
  .news__body {
    grid-template-columns: repeat(2, 360px);
  }
  .news__container {
    max-width: 760px;
  }
}
@media screen and (max-width: 800px) {
  .news__body {
    grid-template-columns: repeat(1, 360px);
  }
  .news__container {
    max-width: 360px;
  }
  .news__top {
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 500px) {
  .news {
    display: none;
  }
  .newsm {
    display: block;
    padding-top: 80px;
    padding-bottom: 0px;
  }
  .newsm__banner {
    background-image: url(../img/news-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 318px;
    text-align: center;
    margin-bottom: 97px;
  }
  .newsm__banner-title {
    font-family: var(--bold);
    font-size: 28px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;
    padding-top: 116px;
    margin-bottom: 69px;
  }
  .newsm__banner-btn {
    border-radius: 2px;
    width: 302px;
    height: 46px;
    background: #0e9e2f;
    font-family: var(--medium);
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .newsm__swiper {
    width: 301px;
    height: 100%;
  }
  .newsm .swiper-wrapper {
    
  }
  .newsm .swiper-slide {
  }
  .newsm__slide-img {
    margin-bottom: 15px;
    height: 189px;
  }
  .newsm__slide-name {
    font-family: var(--regular);
    font-size: 18px;
    line-height: 140%;
    color: #494b44;
    margin-bottom: 10px;
  }
  .newsm__slide-txt {
    font-family: var(--regular);
    font-size: 15px;
    line-height: 140%;
    color: #92938f;
    margin-bottom: 14px;
  }
  .newsm__slide-date {
    font-family: var(--regular);
    font-size: 16px;
    line-height: 140%;
    color: #0e9e2f;
    opacity: 0.9;
  }  
}

/* Свяжитесь с нашим специалистом */
.contact {
  padding-top: 57px;
  padding-bottom: 56px;
  background-image: url(../img/contact-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}
.contact__conteiner {
  max-width: 1210px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.contact__content {
  max-width: 500px;
  padding-top: 72px;
}
.contact__content-title {
  margin-bottom: 27px;
  font-family: var(--bold);
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  color: #fff;
}
.contact__contwnt-txt {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 140%;
  color: #d2d2d2;
  margin-bottom: 64px;
}
.contact__items {
  display: flex;
  gap: 30px;
}
.contact__item {
  display: flex;
  gap: 18px;
}
.contact__item-icon {
  width: 39px;
  height: 39px;
}
.contact__item-name {
  font-family: var(--regular);
  font-size: 12px;
  line-height: 120%;
  color: #d2d2d2;
  max-width: 126px;
}
.contact__number {
  display: none;
}
.contact__form {
  background-image: url(../img/contact-form-bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  padding: 62px 66px 62px 59px;
}
.contact__form-label {
  font-family: var(--regular);
  font-size: 14px;
  line-height: 140%;
  color: #fff;
}
.contact__form-inp {
  border-radius: 2px;
  width: 490px;
  height: 49px;
  background: #fff;
  font-family: var(--regular);
  font-size: 12px;
  line-height: 120%;
  color: #92938f;
  border: none;
  padding-left: 15px;
  margin-bottom: 15px;
  margin-top: 11px;
}
.contact__form_mini {
  display: flex;
  gap: 26px;
  margin-bottom: 15px;
}
.contact__form-inp_mini {
  border-radius: 2px;
  width: 232px;
  height: 49px;
  background: #fff;
  font-family: var(--regular);
  font-size: 12px;
  line-height: 120%;
  color: #92938f;
  border: none;
  padding-left: 15px;
  margin-top: 10px;
}
.contact__form-select {
  appearance: none;
  background-image: url(../img/contact-select.svg);
  background-repeat: no-repeat;
  background-position: 96% 50%;
}
.contact__form-select:focus {
  outline: none;
}
.contact__form-area {
  resize: none;
  border-radius: 2px;
  width: 490px;
  height: 106px;
  background: #fff;
  font-family: var(--regular);
  font-size: 12px;
  line-height: 120%;
  color: #92938f;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 7px;
  border: none;
  margin-top: 10px;
}
.contact__form-area:focus {
  outline: none;
}
.contact__form-checkbox_cost {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  margin-top: 4px;
}
.contact__form_check-inner {
  display: flex;
  gap: 10px;
  margin-bottom: 27px;
}
.contact__form-check {
  opacity: 0;
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 10;
  cursor: pointer;
}
.contact__form-check + span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/contact-check.png);
  background-repeat: no-repeat;
  z-index: 1;
}
.contact__form-check:checked + span {
  background-image: url(../img/contact-check-active.png);
}
.contact__form-btn {
  border: 1px solid #fff;
  border-radius: 2px;
  width: 226px;
  height: 50px;
  font-family: var(--medium);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

@media screen and (max-width: 1250px) {
  .contact__conteiner {
    flex-direction: column;
  }
  .contact__content {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
    max-width: 616px;
  }
  .contact__items {
    justify-content: center;
  }
  .contact__form {
    max-width: 616px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 650px) {
  .contact__content {
    text-align: start;
    padding-left: 37px;
    padding-top: 80px;
  }
  .contact__content_inner {
    background-image: url(../img/contact-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
  }
  .contact {
    padding-top: 55px;
    padding-bottom: 0px;
    background-position: center;
    background-image: none;
  }
  .contact__content-title {
    margin-bottom: 24px;
    font-size: 28px;
    max-width: 300px;
  }
  .contact__contwnt-txt {
    font-size: 15px;
    margin-bottom: 26px;
    max-width: 283px;
  }
  .contact__items {
    flex-direction: column;
  }
  .contact__item-name {
    max-width: 163px;
  }
  .contact__number {
    display: block;
    font-family: var(--medium);
    font-size: 28px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;
    padding-top: 8px;
  }
  .contact__form {
    background-image: none;
    padding: 60px 37px 80px 38px;
    max-width: 375px;
  }
  .contact__form_inner {
    background-color: #0E9E2F;
  }
  .contact__form-inp {
    width: 300px;
  }
  .contact__form_mini {
    flex-direction: column;
    gap: 15px;
  }
  .contact__form-inp_mini {
    width: 300px;
  }
  .contact__form-area {
    width: 300px;
  }
  .contact__form-label_check {
    max-width: 250px;
  }
  .contact__form-btn {
    width: 300px;
  }
}

/* Footer */
.footer {
  background: #313131;
  padding-top: 71px;
  padding-bottom: 28px;
  padding-left: 60px;
}
.footer__top {
  display: flex;
  margin-bottom: 90px;
}
.footer__logotype {
}
.footer__logotype-logo_pc {
  margin-bottom: 33px;
}
.footer__logotype-logo_mobile {
  display: none;
}
.footer__logotype-txt {
  font-family: var(--regular);
  font-size: 14px;
  line-height: 160%;
  color: #fff;
  max-width: 289px;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer__column_1 {
  margin-left: 152px;
}
.footer__column_2  {
  margin-left: 79px;
}
.footer__column_3 {
  margin-left: 93px;
}
.footer__column_4 {
  margin-left: 13px;
}
.footer__column-title {
  font-family: var(--regular);
  font-size: 16px;
  line-height: 175%;
  color: #787878;
}
.footer__column_menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__column_menu-link {
  font-family: var(--regular);
  font-size: 14px;
  line-height: 160%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.footer__column_inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__column_menu-link_big {
  max-width: 205px;
}
.footer__bottom {
  display: flex;
  gap: 213px;
}
.footer__bottom-txt {
  font-family: var(--regular);
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 0.01em;
  color: #fff;
  opacity: 0.6;
  text-decoration: none;
}
.footer__bottom-txt_link {
  cursor: pointer;
}
.footer__column_max {
  display: flex;
}
.footer__column_min {
  display: flex;
}

@media screen and (max-width: 1380px) {
  .footer__column_max {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer__column_2  {
    margin-left: 152px;
  }
  .footer__column_4 {
    margin-left: 93px;
  }
}
@media screen and (max-width: 1000px) {
  .footer__column_1, .footer__column_2, .footer__column_3, .footer__column_4  {
    margin-left: 30px;
  }
  .footer__bottom {
    gap: 85px;
  }
}
@media screen and (max-width: 800px) {
  .footer__top {
    flex-direction: column;
    gap: 19px;
  }
  .footer__column_1, .footer__column_2  {
    margin-left: 0px;
  }
  .footer__column_3, .footer__column_4 {
    margin-left: 30px;
  }
  .footer__logotype {
    margin-bottom: 30px;
  }
  .footer__bottom {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 500px) {
  .footer__column_min {
    flex-direction: column;
    gap: 30px;
  }
  .footer__column_3, .footer__column_4 {
    margin-left: 0px;
  }
  .footer {
    padding-left: 38px;
    padding-top: 80px;
  }
  .footer__logotype-logo_pc {
    display: none;
  }
  .footer__logotype-logo_mobile {
    display: block;
    margin-bottom: 22px;
  }
}